TimelineHistory/.vs/TimelineHistory/DesignTimeBuild/.dtbcache
TimelineHistory/.vs/TimelineHistory/v15/.suo
TimelineHistory/.vs/TimelineHistory/v15/Server/sqlite3/storage.ide-wal
TimelineHistory/.vs/TimelineHistory/v15/Server/sqlite3/storage.ide-shm
TimelineHistory/.vs/TimelineHistory/v15/Server/sqlite3/db.lock
TimelineHistory/.vs/config/applicationhost.config
